# Dependencies
node_modules/
.DS_Store
dist/
dist-ssr
*.local

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# IDEs
.idea/
.vscode/
*.iml
out/
.vercel
